@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
/* 
    Selector universal: Modifica los estilos de toda la página
*/
*{
    list-style: none;
    margin: 0;
}

body{
    /*
    background-color: #f5f5dc;
    */
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(92,9,121,1) 35%, rgba(0,212,255,1) 100%);
    
    /*
    background: linear-gradient(to bottom left , red, yellow);
    */
}

/* Selector de etiqueta */
h1{
    color: #ff0d00;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

/* 
    Selector ID
    La etiqueta que tenga el atributo id, va a modificar el estilo cuando la llamemos desde el css con el #
*/
#parrafoAzul{
    color: #0000ff;
    font-family: 'Roboto Mono', monospace;
}

/*
    Selector Class
    Las etiquetas que tengan el atributo class, van a modificar sus estilos mediante css con el .
*/

.textoVerde{
    color: #008000;
}

/*
    Selectores Descendentes
    Seleccionamos las etiquetas que queremos modificar desde el css mediante un espacio entre padre-hija
*/

div h2{
    color: darkorchid;
}

p{
    color: rgb(255, 0, 115) !important;
}

#perrito{
    width: 50rem;
}

div{
    padding: 25px;
    margin: 12px;
    border: 10px solid red;
}

footer{
    text-align: center;
}

#btn{
    background-color: aquamarine;
    font-size: larger;
    color: black;
    border: 15px solid #ff0d00;
    width: 30px;
    border-radius: 35%;
    position: fixed;
    bottom: 0;
    right: 0;
}

#d-none{
    display: none;
}

#div-t{
    background-color: #ff0000;
    width: 100px;
    height: 100px;
    transition: width 5s 300ms ease;
    animation-name: color-change;
    animation-duration: 5s;
}

@keyframes color-change {
    from{background-color: #0000ff;}
    to{background-color: #ff0000;}
}

#div-t:hover{
    width: 300px;
}